---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Navigation from '../components/Navigation.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import { Image } from 'astro:assets'
import what_is from '../images/what_is.png'
import register from '../images/register.png'
import theme from '../images/theme.png'
import submission from '../images/submission.png'
import evolution from '../images/evolution.png'
import eligibility from '../images/eligibility.png'
import resources from '../images/resources.png'
import poster from '../images/thumb.png'
import focal from '../images/focal.png'
import spoken from '../images/spoken.png'
import IITB from '../images/IITB.png'
import FOSSEE from '../images/FOSSEE.png'



// const { localBirdImage = '../images/register.png' } = Astro.props
// /home/fossee/astro-first-hackathon/src/images/register.png
---
<!-- astro assets element <Image src={import('../images/register.png')} alt="img"/> -->
<DefaultLayout title="Home">
  <Hero />
 
 <div class="container flex justify-center py-4">

  <!-- Card 1 -->
  <a href="/register" class="flex-1 card border-indigo-600 items-center justify-center rounded-md overflow-hidden m-2">
    
    <img  src={register.src} alt="regi" decoding="async" />
    <!-- <img src="../images/register.png" alt="Image 1" class="w-1/4 w-25"> -->

    <p class="text-center mt-2">Register</p>
  </a>

  <!-- Card 2 -->
  <a href="/theme" class="flex-1 card border-indigo-600 items-center justify-center rounded-md overflow-hidden m-2">
    <!-- <img src="../images/theme.png" alt="Image 2" class="w-1/4 w-25"> -->
    <img  src={theme.src} alt="regi" decoding="async" />
    <p class="text-center mt-2">Theme of Hackathon</p>
  </a>

  <!-- Card 3 -->
  <a href="/submission" class="flex-1 card border-indigo-600 items-center justify-center rounded-md overflow-hidden m-2">
    <!-- <img src="../images/submission.png" alt="Image 3" class="w-1/4 w-25"> -->
    <img  src={submission.src} alt="regi" decoding="async" />
    <p class="text-center mt-2">Guidelines and Submissions</p>
  </a>


  <!-- Card 4 -->
  <a href="evolution" class="flex-1 card border-indigo-600 items-center justify-center rounded-md overflow-hidden m-2">
    <!-- <img src="../images/evolution.png" alt="Image 4" class="w-1/4 w-25"> -->
    <img  src={evolution.src} alt="regi" decoding="async" />
    <p class="text-center mt-2">Evaluation &
      Winner/Result</p>
  </a>

</div>
  
<section id="about">
  <section id="what_is">
    <div class="container py-3 mx-auto sm:px-4" style=" background-color:#c9daf8 ;">
      <div class="flex flex-wrap">
        <div class="py-3 w-full sm:w-1/2 flex items-center justify-center">
         
  
          <!-- Content for the second column (.col-6) -->
          <iframe width="480" height="315" src="https://www.youtube.com/embed/UXk_v_sukGU?si=tVK_d4-posQa-RvW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       
      </div>
        <div class="py-3 w-full sm:w-1/2">
          <!-- Content for the first column (.col-9) -->
          <h1 class="section-title">About Synfig Studio 2D animation Hackathon</h1>
          <p class="text-justify">FOSSEE, IIT Bombay in association with Whistling Woods International is hosting an online Synfig Studio 2D Animation Hackathon. Synfig Studio is a cross-platform free and open source vector-based 2D animation software which is designed to produce film-quality animation with minimum resources. So get started, avail this opportunity to upgrade your skills and enhance your career. 
            We welcome newbies and veterans- from high school students to professionals and FLOSS enthusiasts to take part in this Hackathon.
             </p>
        </div>
      
      </div>
    </div>
  </section>
  
</section>



<!-------------------------------- -->
<section id="what_is">
  <div class="container py-3 mx-auto sm:px-4">
    <div class="flex flex-wrap">
      <div class="py-3 w-full sm:w-1/2">
        <!-- Content for the first column (.col-9) -->
        <h1 class="section-title">What is the Synfig Studio 2D animation Hackathon?</h1>
        <p class="text-justify">During the Hackathon the participants will create an original 2D animated short movie of about 3 mins duration using Synfig Studio. You should make the animation (graphics, audio, etc.) using ONLY open source software. You can make the narration in English or in the 22 scheduled Indian languages.</p>
      <div class="bg-green-400 text-2xl mt-1 p-2">
<p>Guiding sessions to the participants on how to use Synfig Studio</p>
<p><strong>Dates: 22 March and 4 April 2024</strong></p>
      </div>
      </div>
      <div class="py-3 w-full sm:w-1/2 flex items-center justify-center">
       

          <!-- Content for the second column (.col-6) -->
          <img src={what_is.src} alt="What is 2D-anim hackathon?" decoding="async" style="height:340px" />
          
       
      </div>
    </div>
  </div>
</section>
<!------------- -->
<section id="eligibility">
  <div class="container py-3 mx-auto sm:px-4" style=" background-color:#c9daf8 ;">
    <div class="flex flex-wrap">
      <div class="py-3 w-full sm:w-1/2 flex items-center justify-center">
       

        <!-- Content for the second column (.col-6) -->
       
        <img src={eligibility.src} alt="eligibility" decoding="async" style="width:360px"/>
     
    </div>
      <div class="py-3 w-full sm:w-1/2">
        <!-- Content for the first column (.col-9) -->
        <h1 class="section-title">Eligibility to participate:</h1>
        <div class="text-justify"><ul class="list-disc">
          <li class="mb-2">Participate as an individual or as a team (max. 4 members).</li>
          <li class="mb-2">High school/college students, faculty, professionals (animators, designers etc.) from any field who are interested in creating animations.</li>
          <li class="mb-2">Knowledge of basic graphics, designing and animation is required.</li>
          <li class="mb-2">Prior knowledge of using Synfig Studio to create 2D animation is expected. If you are self motivated and want to participate you can self learn Synfig Studio using <a href="spoken-tutorial.org">Spoken tutorials</a>. These are available in English, Hindi, Kannada, Marathi, Malayalam, Tamil and Telugu.</li>
          <li class="mb-2">The hackathon is open to all.</li>
          </ul></div>
      </div>
      
    </div>
  </div>
</section>

<!-------- -->

<section id="resources">
  <div class="container py-3 mx-auto sm:px-4">
    <div class="flex flex-wrap">
      <div class="py-3 w-full sm:w-1/2">
        <!-- Content for the first column (.col-9) -->
        <h1 class="section-title">Some Helpful Resources for Hackathon:</h1>
        <div class="text-justify"><ul class="list-disc">
          <li class="mb-2">Self learn Synfig Studio using Spoken Tutorials. These are available in English, Hindi, Kannada, Marathi, Malayalam, Tamil and Telugu.</li>
          <li class="mb-2">For making the animation, if you want to create graphics, record audio, etc., you can use some other software. But as there is a requirement to strictly use Open Source Software in this hackathon, you can use GIMP, Audacity, Inkscape, Openshot video editor etc. for the same. You can self learn these software using the Spoken Tutorials which are freely available. These are available in English, Hindi, Kannada, Marathi, Malayalam, Tamil and Telugu.</li>
          <li class="mb-2">For help in installing Synfig Studio, please click here.</li>
          <li class="mb-2">Refer graphics from our FOCAL (free and open source creative art library) repository.</li>
          </ul></div>
      </div>
      <div class="py-3 px-3 w-full sm:w-1/2 flex items-center justify-center">
       

          <!-- Content for the second column (.col-6) -->
          <!-- <img src="../images/resources.png" alt="img"> -->
          <img src={resources.src} alt="resources" decoding="async" style="height:340px"/>
       
      </div>
    </div>
  </div>
</section>

<!-------------------- -->
<section id="poster">
  <div class="container py-3 mx-auto sm:px-4"  style=" background-color:#c9daf8 ;">
    <div class="flex flex-wrap">
      <div class="py-3 w-full sm:w-1/2 flex items-center justify-center">
       

        <!-- Content for the second column (.col-6) -->
        <!-- <img src="../images/poster.png" alt="poster"> -->
        <img src={poster.src} alt="poster" decoding="async" style="height:200px" />
     
    </div>
      <div class="py-3 w-full sm:w-1/2">
        <!-- Content for the first column (.col-9) -->
        <h1 class="section-title">Poster to publish</h1>
        <div class="text-justify">We request you to share the event details through this poster with high school/college students, faculty, animators, graphic designers, and FOSS enthusiasts who might be interested. Download the poster by clicking on the image.</div>
      </div>
      
    </div>
  </div>
</section>
<!-------------- -->
<!--<section id="partners1" class="py-3">
  <div class="container flex items-center justify-center">
<h1 class="section-title">- Endorsement Partners -</h1>
</div>
<div class="banner-content">
  <div id="top-logo-placeholder" class="container mx-auto sm:px-4 rounded min-w-sm mx-auto px-5 bg-white flex px-3 mx-3 justify-center">
   
      
     
        <div class="px-4 pt-4 pb-1">
          
          <a href="http://focal.iitb.ac.in/" target="_blank">
              
              <img src={focal.src} alt="poster" decoding="async" />
          </a>
          </div>
          <div class="px-4 pt-4 pb-1">
          <a href="https://focal.fossee.in" target="_blank">
            <img src={focal.src} alt="fossee" decoding="async" />
              
          </a>
          
          
         
        </div>
              
  </div>
</div>
</section>-->
<!----------------------->
<section id="partners2" class="py-3">
  <div class="container flex items-center justify-center">

    <h1 class="section-title">- Sponsors and Partners -</h1>
  </div>
<div class="banner-content">
  <div id="top-logo-placeholder" class="container mx-auto sm:px-4 rounded min-w-sm mx-auto px-5 bg-white flex px-3 mx-3 justify-center">
   
      
     
        <div class="px-4 pt-4 pb-1">
          
          <a href="http://iitb.ac.in/" target="_blank">
            <img src={IITB.src} alt="poster" decoding="async" />
              <!-- <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/iitb-logo.png" class="w-full max-w-xs mx-auto logos" alt="IITB"> -->
          </a>
          </div>
          <div class="px-4 pt-4 pb-1">
          <a href="https://fossee.in" target="_blank">
            <img src={FOSSEE.src} alt="poster" decoding="async" />
              <!-- <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/fossee-logo.png" class="w-full max-w-xs mx-auto logos" alt="FOSSEE"> -->
          </a>
        </div>
          <div class="px-4 pt-4 pb-1">
            <a href="https://focal.fossee.in" target="_blank">
              <img src={focal.src} alt="poster" decoding="async" />
                <!-- <img src="../images/image2.png" class="w-full max-w-xs mx-auto logos" alt="FOSSEE"> -->
            </a>
          </div>
          <div class="px-4 pt-4 pb-1">
            <a href="https://spoken-tutorial.org/" target="_blank">
              <img src={spoken.src} alt="poster" decoding="async" />
                <!-- <img src="../images/image13.png" class="w-full max-w-xs mx-auto logos" alt="FOSSEE"> -->
            </a>
          <!-- <a href="http://www.rudra.iitb.ac.in/" target="_blank">
              <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploadssrc/images/rudra-logo.png" class="w-full max-w-xs mx-auto logos" alt="Rudra">
          </a>
          <a href="https://www.iittp.ac.in/" target="_blank">
              <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploadssrc/images/iit-tirupati.png" class="w-full max-w-xs mx-auto logos" alt="IIT Tirupati">
          </a>
          <a href="https://iittnif.com/" target="_blank">
              <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploadssrc/images/navavishkaar.png" class="w-full max-w-xs mx-auto logos" alt="IITTNiF">
          </a>
          <a href="https://nmicps.in/" target="_blank">
              <img src="https://iot-gis-hackathon.fossee.org/static/cms/uploadssrc/images/NM-ICPS-logo1.png" class="w-full max-w-xs mx-auto logos" alt="NMICPS">
          </a> -->
          
         
        </div>
              
  </div>
</div>
</section>
<!------------------- style="background-color: #005a9c;background-image: url('https://hackathon.fossee.in/cfd/static/cms/uploadssrc/images/webtop-bg-blank.png');background-size: cover;background-attachment: fixed;"--------------------- -->
<section id="resources" class="py-3">
  <div class="container md:flex flex-md-equal w-full md:my-4 md:pl-4">
     <div class="md:mr-4 pt-3 text-center overflow-hidden">
        <div class="py-3">
           <h1 class="section-title">Previous hackathon Videos:</h3>
        </div>
<p class="text-justify">The videos mentioned below are the award winning entries under the "Synfig Studio 2D Animation Hackathon" that took place in January 2021. These videos are provided as samples only, and to check the new Theme for " Synfig Studio 2d Animation Hackathon 2024. (Theme:  Celebrating India's innovation)</p>
        <div class="container mx-auto sm:px-4">
  <div class="flex flex-wrap ">
      <div class="md:w-1/4 pr-4 pl-4 mb-4">
          <div class="relative flex flex-col min-w-0 rounded break-words border border-1 border-gray-300 shadow" style="background-color:  var(--background);">
           
              <div class="flex-auto p-6">
                  <h5 class="mb-3"> The submission that 
                    stood first in the previous hackathon</h5>
                  <p class="mb-0">Click <a href="https://static.fossee.in/focal/videos/SS2DH1408.mp4" target="_blank">here</a> to watch</p>
                   
                  
              </div>
          </div>
      </div>
      <div class="md:w-1/4 pr-4 pl-4 mb-4">
        <div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300 shadow">
            <div class="flex-auto p-6">
                <h5 class="mb-3">The animation 
                  submitted by the Youngest participant.</h5>
                <p class="mb-0">Click <a href="https://static.fossee.in/focal/videos/SS2DH0209.mp4" target="_blank">here</a> to watch</p>
            </div>
        </div>
    </div> <div class="md:w-1/4 pr-4 pl-4 mb-4">
     <div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300 shadow">
        
         <div class="flex-auto p-6">
             <h5 class="mb-3">The prize winning animation in Hindi</h5>
             <p class="mb-0">Click <a href="https://static.fossee.in/focal/videos/SS2DH0170.mp4" target="_blank">here</a> to watch</p>
             <p class="mb-0">&nbsp;</p>
                
<!--                  <p class="mb-0"><a title="https://cfd.direct/openfoam/v11-productive-cfd"
                 href="https://cfd.direct/openfoam/v11-productive-cfd" target="_blank">Productive CFD v11</a></p> -->
            
         </div>
     </div>
 </div> 
 <div class="md:w-1/4 pr-4 pl-4 mb-4">
  <div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300 shadow">
      <div class="flex-auto p-6">
          <h5 class="mb-3">The prize winning animation in Tamil.</h5>
          <p class="mb-0">Click <a href="https://static.fossee.in/focal/videos/SS2DH0144.mp4" target="_blank">here</a> to watch</p>
          <p class="mb-0">&nbsp;</p>
           
      </div>
  </div>
</div>
  </div>
</div>
     </div>
  </div>
</section>
<!---------------------- -->
<section id="rules" class="py-3">
<div class="container mx-auto px-5 pt-3">
  
    
    <div class="flex items-center justify-center" style="background-color: #ffffff;">
      
      <h1 class="section-title">Rules and Regulations</h1>
    </div>
    <div class="rte-justify px-5 mx-5" >
      
      <ul class="px-5 mx-5 text-justify list-disc leading-relaxed" style="background-color: #bbab8b;">
        <li class="mb-2">The decision of the review committee and organizers in declaring the results will be final. No queries in this regard will be entertained.</li>
        <li class="mb-2">The same person can not participate in more than one team.</li>
        <li class="mb-2">If a person is found participating in more than one team, both teams will be disqualified from the Hackathon.</li>
        <li class="mb-2">Use ONLY Synfig Studio for creating animations. Create the supporting graphics, audio, etc. using only open source software. You are not allowed to use any proprietary software in your animation in any aspect. If found, you or your team will be disqualified.</li>
        <li class="mb-2">The accepted submissions shall be released and published under open source license in the public domain. The copyright should be transferred to the FOSSEE project.</li>
        <li class="mb-2">The team lead will be only one point of contact with the organizers.</li>
        <li class="mb-2">Any participant found to be indulging in any form of malpractice will be immediately disqualified.</li>
      </ul>
    </div>

</div>
</section>
<!------- -->
<section id="contact-us" class="py-3">
  <div class="container py-3">
    <div class="flex items-center justify-center">
  
      <h1 class="section-title">Contact us</h1>
    </div>
    <div class="container flex items-center justify-center">
  <a href="mailto:info@fossee.in">info@fossee.in</a>&nbsp; | &nbsp;<a href="mailto:contact-focal@fossee.in">contact-focal@fossee.in</a>
    </div>
    </div>

</section>
<style lang="css">
  
  /************top logos*****************/
  
  .logos {
    max-width: 100%;
    height: 53.8px;
    padding-left: 20px;
  }
  @media(max-width:998px){
    .logos {
      max-width: 100%;
      height: auto;
      padding-left: 0;
    }
  }
  
  </style>

</DefaultLayout>
